@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply text-xl font-medium  hover:underline  transition-colors duration-200 tracking-wide text-blue-600;
}
.default {
  @apply text-xl font-medium  hover:underline transition-colors duration-200 tracking-wide;
}
.details_btn{
  @apply w-full mx-auto text-center py-2 rounded-b-lg border border-sky-400
   text-lg font-medium tracking-wide text-white bg-sky-500 hover:bg-transparent transition duration-200
}
.close_btn{
  @apply border-sky-500 border rounded-lg text-white py-[6px] px-4 bg-sky-600 text-lg hover:bg-transparent 
  hover:text-sky-400 transition duration-200
}

.my-container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}
